@import "../../styles/abstracts/styles.scss";
@import "./enable-upe-preview-task.scss";
@import "./setup-complete-task.scss";

.components-card__header {
	font-size: 20px;
}

.components-card {
	margin-bottom: 24px;
}