# GitHub token with access to Woo Subscriptions repository
GITHUB_TOKEN=ghp_xxxxxxxxxxxxxx

# The WP Admin credentials
ADMIN_USER=admin
ADMIN_PASSWORD=admin

# Test site SSH credentials. WP CLI must be installed on it.
SSH_HOST=https://automattic.com
SSH_USER=user
SSH_PASSWORD=password
SSH_PATH=/the/wp/directory/path/inside/server/

# Stripe keys (TEST MODE). 
# IMPORTANT: Please only use API keys from your personal Stripe account when running E2E tests.
STRIPE_PUB_KEY=pk_test_xxx
STRIPE_SECRET_KEY=rk_test_xxx
