# GitHub token with access to Woo Subscriptions repository
GITHUB_TOKEN=<ghp_xxxxxxxxxxxxxx>

# The WP Admin credentials
ADMIN_USER=demo
ADMIN_PASSWORD=<password>

# Test site SSH credentials. WP CLI must be installed on it.
SSH_HOST=ssh.atomicsites.net
SSH_USER=<ssh_user>
SSH_PASSWORD=<ssh_password>
SSH_PATH=/srv/htdocs/

# Stripe keys (TEST MODE).
# IMPORTANT: Please only use API keys from your personal Stripe account when running E2E tests.
STRIPE_PUB_KEY=<pk_test_xxx>
STRIPE_SECRET_KEY=<rk_test_xxx>
