@use '../../styles/abstracts/styles';

.woocommerce-gateway-stripe__payment-method-icon {
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
	max-width: 160px;

	@include styles.breakpoint( '>660px' ) {
		max-width: inherit;
	}

	&__label {
		margin-left: 4px;
	}
}
