<?xml version="1.0"?>
<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	convertDeprecationsToExceptions="false"
	>
	<testsuites>
		<testsuite name="WCStripe">
			<directory prefix="test-" suffix=".php">./tests/phpunit</directory>
		</testsuite>
	</testsuites>
	<coverage cacheDirectory=".phpunit.cache/code-coverage" processUncoveredFiles="true">
		<include>
			<file>./woocommerce-gateway-stripe.php</file>
			<directory>./includes</directory>
		</include>
		<report>
			<cobertura outputFile="cobertura.xml"/>
			<html outputDirectory="phpunit-html"/>
		</report>
	</coverage>
</phpunit>
