@use '../../styles/abstracts/styles';

// Overrides for IconWithShell are managed separately as
// IconWithShell is only used in wp-admin.
.wc-stripe-payment-method-icon.wc-stripe-payment-method-icon--shell {
	background: styles.$white;
	border-color: styles.$gray-300;
	border-radius: 5px;
	overflow: hidden;

	&.wc-stripe-payment-method-icon--small {
		padding: 4px;
	}

	&.wc-stripe-payment-method-icon--medium {
		padding: 7px;
	}

	&.wc-stripe-payment-method-icon--pad-y {
		padding-top: 4px;
		padding-bottom: 4px;
	}

	&.wc-stripe-payment-method-icon--flush-y {
		padding-top: 0;
		padding-bottom: 0;
	}

	.wc-stripe-payment-method-icon--flush-outlined {
		padding: 0;
		border: none;

		img {
			outline: 1px solid styles.$gray-300;
		}
	}
}
