@import '../../../styles/abstracts/styles.scss';

.payment-method-checkbox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	margin-bottom: $grid-unit-20;
	&:last-child {
		margin-bottom: 0;
	}

	&__element-wrapper {
		display: flex;
		align-items: center;

		> * {
			margin: 0 3px;
		}
	}

	.components-base-control__field {
		margin-bottom: 0;
	}

	.woocommerce-gateway-stripe__payment-method-icon__icon {
		display: none;

		@include breakpoint( '>800px' ) {
			display: inline-flex;
		}
	}
}
