SUPPRESS_NO_CONFIG_WARNING=true
NODE_CONFIG_DIR="./tests/e2e-qit/config/"

# Stripe keys (TEST MODE).
# IMPORTANT: Please only use API keys from your personal Stripe account when running E2E tests.
STRIPE_PUB_KEY=<pk_test_xxx>
STRIPE_SECRET_KEY=<sk_test_xxx>

