@import '../../styles/abstracts/colors';
.account-details__info {
	&__green {
		fill: $alert-green;
		color: $alert-green;
	}

	&__red {
		fill: $alert-red;
		color: $alert-red;
	}

	&__yellow {
		fill: $alert-yellow;
		color: $alert-yellow;
	}
}
