@import '../../styles/abstracts/colors';
.account-details__info {
	&--green {
		fill: $alert-green;
		color: $alert-green;
	}

	&--red {
		fill: $alert-red;
		color: $alert-red;
	}

	&--yellow {
		fill: $alert-yellow;
		color: $alert-yellow;
	}
}
