.wc-stripe-payment-button-preview {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
	border-radius: 5px;
	height: 40px;
	img {
		height: 22px;
	}
	&:hover {
		cursor: pointer;
		filter: opacity(0.7);
	}
	/* Amazon Pay Overrides */
	&.wc-stripe-amazon-pay-preview {
		background-color: #ffd814;
		img {
			height: 40px;
		}
	}
	/* Stripe Link Overrides */
	&.wc-stripe-link-preview {
		background-color: #00d66f;
		img {
			height: 40px;
		}
	}
}
