@use '../../styles/abstracts/styles';

.wc-stripe-payments {
	margin-left: -20px;

	.dataviews-wrapper {
		background-color: inherit;
	}

	.wc-stripe-instant-payouts-promotion-notice {
		margin: 24px;
	}
}
