@import '../../styles/abstracts/colors';

.account-details {
	&__flex-container {
		display: flex;
		flex-direction: column;
	}

	&__header {
		margin: 0;
		font-size: 16px;
	}

	&__row {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 8px 0;

		p {
			flex: 1 0 30px;
			margin: 0;
		}

		span {
			flex: 5 0 20%;
		}

		span.dashicon {
			margin-right: 4px;
		}

	}

	&__desc {
		font-size: 12px;
		font-style: normal;
		color: rgb(117, 117, 117);
	}

	&__error {
		color: $alert-red;
	}
}


