.account-details {

	.components-card__body {
		display: flex;
		flex-direction: column;
		padding: 24px 40px;
	}

	&__row {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 8px 0px;
	}

	&__desc {
		margin-top: 1rem;
		font-style: italic;
	}
}


