@import '../../styles/abstracts/colors';
.account-details {

	.is-size-large {
		padding: 24px 32px;
	}

	&__flex-container {
		display: flex;
		flex-direction: column;
	}

	&__header {
		margin: 0px;
	}

	&__row {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 8px 0px;

		p {
			flex: 1 0 30px;
			margin: 0px;
		}

		span {
			flex: 5 0 20%;
		}

		span.dashicon {
			margin-right: 4px;
		}
	
	}

	&__desc {
		margin-top: 1rem;
		font-style: italic;
	}

	&__error {
		color: $alert-red;
	}
}


