/** @format */

.chip {
	@include font-size( 14 );
	display: inline-block;
	padding: 0.25rem 0.75rem;
	border-radius: 1rem;
	white-space: nowrap;

	&.chip-primary {
		background: #c5d9ed;
		color: #043959;
	}

	&.chip-light {
		background: #dcdcde;
		color: #2c3338;
	}

	&.chip-alert {
		background: #facfd2;
		color: #691c1c;
	}

	&.chip-warning {
		background: #f5e6b3;
		color: #9d6e00;
	}

	&.is-compact {
		padding: 0.06rem 0.65rem 0.1rem;
	}
}
