.apple-pay-button-wrapper,
.apple-pay-button,
.apple-pay-button-checkout-separator {
	display: none;
}

@supports (-webkit-appearance: -apple-pay-button) {
	.apple-pay-button-wrapper {
		display: block;
		margin-bottom: 20px;
	}

	.apple-pay-button {
		background-size: 100% 100%;
		background-origin: content-box;
		background-repeat: no-repeat;
		width: 100%;
		height: 44px;
		padding: 10px 0;
		border-radius: 10px;
	}

	.apple-pay-button-checkout-separator {
		text-transform: uppercase;
		text-align: center;
		font-size: 1.2rem;
	}

	.woocommerce-checkout {
		.apple-pay-button-wrapper {
			text-align: center;
		}

		.apple-pay-button {
			height: 50px;
			margin: 0 auto;
		}

		.apple-pay-button-checkout-separator {
			border-bottom: 1px solid #EBEBEB;
			padding-bottom: 20px;
		}
	}

	.single-product {
		div.product {
			form.cart {
				.quantity,
				.quantity ~ .button,
				.apple-pay-button {
					margin-bottom: 10px;
				}

				.quantity {
					width: 100%;
					margin-right: 0;

					input {
						width: 100%;
					}
				}

				.quantity ~ .button {
					width: 100%;
				}

				.apple-pay-button-wrapper {
					display: inline;
					margin-bottom: 0;
				}
			}
		}
	}

	@media ( min-width: 768px ) {
		.woocommerce-checkout {
			.apple-pay-button {
				width: 30%;
			}
		}

		.single-product {
			div.product {
				form.cart {
					.quantity,
					.quantity ~ .button,
					.apple-pay-button {
						margin-bottom: 0;
					}

					.quantity {
						width: auto;
						margin-right: 10px;

						input {
							width: 70px;
						}
					}

					.quantity ~ .button {
						float: none;
						width: auto;
					}

					.apple-pay-button {
						float: left;
						max-width: 20%;
						margin-right: 10px;
					}
				}
			}
		}
	}
}
