@import "../../styles/abstracts/styles.scss";

.payment-method-checkbox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	margin-bottom: $grid-unit-20;
	&:last-child {
		margin-bottom: 0;
	}

	& > * {
		margin: 0 3px;
	}

	.components-base-control__field {
		margin-bottom: 0;
	}

	&__fees {
		margin-left: auto;
		margin-right: 3px;
		text-transform: uppercase;
	}

	&__info {
		> * {
			margin: 0;
			color: $gray-600;
		}
	}
}
