# Stripe keys (TEST MODE).
# IMPORTANT: Please only use API keys from your personal Stripe account when running E2E tests.
# BLIK requires test keys for a PL-based account
STRIPE_PUB_KEY=pk_test_xyzpl
STRIPE_SECRET_KEY=sk_test_xyzpl
