@import '../../styles/abstracts/styles.scss';

.wcstripe-modal-button-group-container {
	display: flex;
	gap: $grid-unit-20;
}

.account-details {
	&__header {
		justify-content: space-between;

		> :first-child {
			display: flex;
			align-items: center;

			> * {
				&:not( :last-child ) {
					margin-right: 4px;
				}
			}
		}

		.components-dropdown-menu__toggle.has-icon {
			padding: 0;
			min-width: unset;
		}

		button.components-dropdown-menu__menu-item:last-of-type {
			color: rgb( 220, 30, 30 );
		}
	}

	&__heading {
		margin: 0;
		font-size: 16px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		line-height: 2em;

		> * {
			&:not( :last-child ) {
				margin-right: 4px;
			}
		}
	}
}

.components-modal__screen-overlay {
	// This value should be lower than .woocommerce-transient-notices's z-index
	// to be able to see snackbar's messages
	z-index: 99998;
}

.woocommerce-stripe-connection__actions-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: $grid-unit-20;
}
