.stripe-gateway-stripelink-modal-trigger {
	display: none;
	position: absolute;
	right: 5px;
	width: 604px;
	height: 40px;
	background: no-repeat
		url( '../../payment-method-icons/link/icon.svg' );
	background-color: transparent;
	cursor: pointer;
	border: none;
}

.stripe-gateway-stripelink-modal-trigger:hover {
	background-color: transparent;
	border-color: transparent;
}