button.stripe-gateway-stripelink-modal-trigger {
	display: none;
	position: absolute;
	right: 5px;
	width: 64px;
	height: 40px;
	background: no-repeat
		url( '../../payment-method-icons/link/icon.svg' );
	background-color: transparent !important;
	cursor: pointer;
	border: none;
}
button.stripe-gateway-stripelink-modal-trigger:hover {
	background-color: transparent;
	border-color: transparent;
}
.wc-block-checkout__payment-method .wc-block-components-radio-control__label > span {
	width: 100%;
}
.wc-block-checkout__payment-method .wc-block-components-radio-control__label > span > span {
	float:right;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* stylelint-disable selector-id-pattern */
#radio-control-wc-payment-method-options-stripe__content.single-payment-element {
	padding: 0;

	.content {
		display: none;
	}
}
#radio-control-wc-payment-method-options-stripe__label > span > span {
	border: none;
}
/* stylelint-enable selector-id-pattern */
