#wc-stripe-account-settings-container {
	box-sizing: border-box;
}

#wc-stripe-new-account-container {
	display: flex;
	justify-content: center;

	@media ( max-width: 660px ) {
		display: block;
	}
}
