@import "../../styles/abstracts/styles.scss";

.wcpay-inline-notice {
	// increasing the specificity of the styles to override the Gutenberg ones
	&#{&} {
		margin: 0;
		margin-bottom: $grid-unit-30;
	}

	&.is-info {
		background: #def1f7;
	}
}
