name: 'Pull request post-merge processing (develop)'
on:
    pull_request_target:
        types: [closed]

defaults:
  run:
    shell: bash

jobs:
  process-changelog:
    name: "Process the changelog"
    if: github.event.pull_request.merged == true && github.event.pull_request.base.ref == 'develop'
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v4

      - name: "Set up repository"
        uses: ./.github/actions/setup-repo
        
      - name: "Parse the next version"
        id: parse_next_version
        run: |
          VERSION=$( cat changelog.txt | grep xxxx-xx-xx | grep -Eo '[0-9.]+' )
          echo "trimmed-version=$VERSION" >> $GITHUB_ENV
          
      - name: "Process the changelog"
        id: process_changelog
        uses: ./.github/actions/process-changelog
        with:
          release-version: ${{ steps.parse_next_version.outputs.trimmed-version }}

      - name: "Commit and push changes"
        env:
          BRANCH_NAME: ${{ github.event.pull_request.base.ref }}
          RELEASE_VERSION: ${{ steps.parse_next_version.outputs.trimmed-version }}
        uses: ./.github/actions/commit-push-as-bot
        with:
          release-version: ${{ env.RELEASE_VERSION }}
          branch: ${{ env.BRANCH_NAME }}
