@import 'node_modules/@automattic/color-studio/dist/color-variables.scss';
@import 'node_modules/@wordpress/base-styles/colors.native.scss';
@import 'node_modules/@wordpress/base-styles/colors.scss';

// WP-admin colors: https://make.wordpress.org/core/2021/02/23/standardization-of-wp-admin-colors-in-wordpress-5-7/
$wp-gray-0: #f6f7f7;
$wp-gray-2: #f0f0f1;
$wp-gray-5: #dcdcde;
$wp-gray-10: #c3c4c7;
$wp-gray-20: #a7aaad;
$wp-gray-30: #8c8f94;
$wp-gray-40: #787c82;
$wp-gray-50: #646970;
$wp-gray-60: #50575e;
$wp-gray-70: #3c434a;
$wp-gray-80: #2c3338;
$wp-gray-90: #1d2327;
$wp-gray-100: #101517;
$wp-blue-0: #f0f6fc;
$wp-blue-5: #c5d9ed;
$wp-blue-10: #9ec2e6;
$wp-blue-20: #72aee6;
$wp-blue-30: #4f94d4;
$wp-blue-40: #3582c4;
$wp-blue-50: #2271b1;
$wp-blue-60: #135e96;
$wp-blue-70: #0a4b78;
$wp-blue-80: #043959;
$wp-blue-90: #01263a;
$wp-blue-100: #00131c;
$wp-red-0: #fcf0f1;
$wp-red-5: #facfd2;
$wp-red-10: #ffabaf;
$wp-red-20: #ff8085;
$wp-red-30: #f86368;
$wp-red-40: #e65054;
$wp-red-50: #d63638;
$wp-red-60: #b32d2e;
$wp-red-70: #8a2424;
$wp-red-80: #691c1c;
$wp-red-90: #451313;
$wp-red-100: #240a0a;
$wp-yellow-0: #fcf9e8;
$wp-yellow-5: #f5e6ab;
$wp-yellow-10: #f2d675;
$wp-yellow-20: #f0c33c;
$wp-yellow-30: #dba617;
$wp-yellow-40: #bd8600;
$wp-yellow-50: #996b00;
$wp-yellow-60: #755100;
$wp-yellow-70: #614200;
$wp-yellow-80: #4a3200;
$wp-yellow-90: #362400;
$wp-yellow-100: #211600;
$wp-green-0: #edfaef;
$wp-green-5: #b8e6bf;
$wp-green-10: #68de7c;
$wp-green-20: #1ed14b;
$wp-green-30: #00ba37;
$wp-green-40: #00a32a;
$wp-green-50: #008a20;
$wp-green-60: #007017;
$wp-green-70: #005c12;
$wp-green-80: #00450c;
$wp-green-90: #003008;
$wp-green-100: #001c05;

// Missing from dependencies
$gutenberg-blue: #007cba;
