.disable-confirmation-modal {
	&__payment-methods-list {
		margin-bottom: 32px;

		> * {
			&:not( :last-child ) {
				margin-bottom: 12px;
			}
		}
	}
}

.wcstripe-confirmation-modal {
	&.alert {
		h1 {
			display: grid;
			grid-template-columns: max-content max-content;
			grid-column-gap: 10px;
			align-items: center;

			&::before {
				content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20Z' stroke='%23D94F4F' stroke-width='1.5' /%3E%3Cpath d='M13 7H11V13H13V7Z' fill='%23D94F4F' /%3E%3Cpath d='M13 15H11V17H13V15Z' fill='%23D94F4F' /%3E%3C/svg%3E");
				height: 24px;
			}
		}
	}

	// Hotfix for Stripe Gateway - might need to be fixed in WCPay as well.
	.woocommerce-gateway-stripe__payment-method-icon {
		max-width: inherit;
	}
}

